@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
html,
body {
  height: 100%;
}
body.lock {
  overflow: hidden;
}
nav,
footer,
header,
aside {
  display: block;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/* Header */
.page {
  background: url(../img/main-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
.page__info {
  margin-top: 60px;
  padding: 0 20px;
  text-align: center;
}
.page__info h1 {
  font-size: 72px;
  font-family: 'Playfair Display';
  max-width: 740px;
  margin: 0 auto;
  color: #ffffff;
  font-weight: bold;
  line-height: 1.2;
}
@media (max-width: 767px) {
  .page__info h1 {
    font-size: 36px;
  }
}
.page__info p {
  padding: 20px 0;
  line-height: 1.6;
  font-size: 18px;
  font-family: 'Karla';
  max-width: 500px;
  margin: 0 auto;
  color: #ffffff;
}
@media (max-width: 767px) {
  .page__info p {
    font-size: 16px;
  }
}
.page__info a {
  cursor: pointer;
}
.page__info a img {
  transition: 0.3s;
}
.page__info a:hover img {
  transform: translateY(10px);
}
.page__form {
  max-width: 1130px;
  padding: 0 20px 50px 20px;
  margin: 20px auto 0 auto;
  border-radius: 5px;
}
.page__form--wrapper {
  text-align: center;
  padding: 30px 20px;
  background-color: rgba(0, 0, 0, 0.6);
}
.page__form--wrapper span {
  font-size: 24px;
  font-family: 'Playfair Display';
  color: #ffffff;
  line-height: 1.2;
  text-align: center;
}
.header {
  margin: 0 auto;
  max-width: 1150px;
  padding: 25px 20px;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
}
@media (max-width: 767px) {
  .header__nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 20px;
    z-index: 40;
  }
}
.header__nav--list {
  display: flex;
}
@media (max-width: 767px) {
  .header__nav--list {
    display: none;
  }
}
.header__nav--list li {
  margin-right: 45px;
}
.header__nav--list li:last-child {
  margin-right: 0px;
}
.header__nav--list a {
  font-size: 18px;
  color: #ffffff;
  padding: 5px 10px;
  transition: 0.3s;
  font-family: 'Karla';
}
.header__nav--list a:hover {
  background-color: #2d2d35;
}
@media (max-width: 767px) {
  .header__order {
    display: none;
  }
}
.header__order a {
  border-radius: 5px;
  background-color: #da6f5b;
  max-width: 200px;
  width: 100%;
  height: 43px;
  padding: 15px 60px;
  color: #fff;
  transition: 0.3s;
  font-family: 'Karla';
}
.header__order a:hover {
  background-color: #f37a64;
}
.header__mobile {
  position: fixed;
  top: 0;
  left: -100%;
  background-color: #2d2d35;
  width: 100%;
  height: 100%;
  z-index: 30;
  padding: 100px 30px 30px 30px;
  transition: left 0.3s ease 0s;
  overflow: auto;
}
.header__mobile--nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  margin-top: 60px;
}
.header__mobile--list {
  margin-top: 70px;
  text-align: center;
}
.header__mobile--list li {
  margin-bottom: 30px;
}
.header__mobile--list li:last-child {
  margin-bottom: 0;
}
.header__mobile--list a {
  font-size: 24px;
  font-family: 'Karla';
  color: #ffffff;
}
.header__mobile--list a:hover {
  text-decoration: underline;
}
.header__mobile--order a {
  border-radius: 5px;
  background-color: #da6f5b;
  max-width: 250px;
  width: 100%;
  padding: 12px 80px;
  color: #fff;
  transition: 0.3s;
  font-family: 'Karla';
}
.header__mobile--order a:hover {
  background-color: #f37a64;
}
.header__mobile.active {
  left: 0;
}
.form__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
@media (max-width: 767px) {
  .form__wrapper {
    flex-direction: column;
  }
}
.form__block {
  width: 33%;
  margin-right: 10px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .form__block {
    width: 100%;
    margin-right: 0;
  }
}
.form__block--topic {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 57px;
  font-family: 'Karla';
  color: #ffffff;
  padding-left: 30px;
}
.form__block--topic::placeholder {
  font-size: 18px;
  color: #ffffff;
}
.form__order button {
  border-radius: 5px;
  background-color: #da6f5b;
  max-width: 200px;
  width: 100%;
  height: 43px;
  padding: 15px 60px;
  color: #fff;
  transition: 0.3s;
  font-family: 'Karla';
}
.form__order button:hover {
  background-color: #f37a64;
}
.select {
  display: inline-block;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  width: 324px;
  height: 57px;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding-left: 30px;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}
.select:hover {
  background-color: rgba(66, 65, 65, 0.8);
}
.select::after {
  content: '';
  position: absolute;
  right: 30px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
}
.select span {
  font-size: 18px;
  font-family: 'Karla';
  color: #ffffff;
}
@media (max-width: 767px) {
  .select {
    width: 100%;
    margin-right: 0;
  }
}
.select .pref__dropdown-menu {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  top: 55px;
  left: 0;
  margin-top: -20px;
  border-radius: 5px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  max-height: 224px;
  overflow-y: auto;
  z-index: 9;
  transition: 0.3s;
}
.select .pref__dropdown-menu li {
  color: #fff;
  font-size: 18px;
  font-family: 'Karla';
  margin-bottom: 0px;
  padding: 10px 0;
}
.select .pref__dropdown-menu li:hover {
  background-color: #424141;
}
.select .pref__dropdown-menu.active {
  margin-top: 0;
  opacity: 1;
  visibility: visible;
}
.swiper {
  padding: 80px 0;
}
.swiper__title {
  text-align: center;
  font-size: 48px;
  font-family: 'Playfair Display';
  color: #2d2d35;
  margin-bottom: 35px;
}
@media (max-width: 768px) {
  .swiper__title {
    font-size: 36px;
  }
}
.swiper-slide {
  box-shadow: 0px 5px 13px 1px rgba(34, 60, 80, 0.2);
  padding: 40px;
}
@media (max-width: 768px) {
  .swiper-slide {
    text-align: center;
  }
}
.swiper-slide p {
  font-size: 18px;
  font-family: "Karla";
  color: #5b5e6b;
  text-align: center;
  font-style: italic;
  line-height: 1.667;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f1f5f7;
}
@media (max-width: 768px) {
  .swiper-slide p {
    font-size: 16px;
  }
}
.swiper-slide span {
  font-size: 18px;
  font-family: "Karla";
  color: #2d2d35;
}
@media (max-width: 768px) {
  .swiper-slide span {
    font-size: 16px;
  }
}
.swiper-button-next::after,
.swiper-button-prev::after {
  color: red;
  font-size: 0;
}
.swiper-button-next::after {
  content: url(../img/arrow-right.png);
}
.swiper-button-prev::after {
  content: url(../img/arrow-left.png);
}
.swiper-button-next,
.swiper-button-prev {
  top: 60%;
}
@media (max-width: 320px) {
  .swiper-button-next,
  .swiper-button-prev {
    top: 55%;
  }
}
.swiper-button-next {
  left: 66%;
}
@media (max-width: 920px) {
  .swiper-button-next {
    left: 88%;
  }
}
.swiper-button-prev {
  left: 32%;
}
@media (max-width: 920px) {
  .swiper-button-prev {
    left: 6%;
  }
}
.swiper-pagination-fraction {
  bottom: 20px;
  left: -13%;
  font-size: 24px;
  font-family: 'Playfair Display';
  color: #2d2d35;
}
@media (max-width: 768px) {
  .swiper-pagination-fraction {
    left: 0;
  }
}
.test__btn {
  position: absolute;
  bottom: 10%;
  left: 52%;
  z-index: 10;
}
@media (max-width: 768px) {
  .test__btn {
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 3%;
  }
}
.test__btn button {
  background-color: transparent;
  padding: 10px 20px;
  border: 1px solid #da6f5b;
  border-radius: 5px;
  max-width: 222px;
  width: 100%;
  font-size: 18px;
  font-family: 'Playfair Display';
  color: #da6f5b;
  transition: 0.3s;
}
.test__btn button:hover {
  background-color: #da6f5b;
  color: #fff;
}
@media (max-width: 768px) {
  .test__btn button {
    font-size: 16px;
  }
}
@media (max-width: 320px) {
  .test__btn button {
    padding: 10px 12px;
  }
}
.slider {
  padding-bottom: 80px;
  position: relative;
}
.menu__icon {
  display: none;
}
@media (max-width: 767px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span,
  .menu__icon::after,
  .menu__icon::before {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .menu__icon::after,
  .menu__icon::before {
    content: '';
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__icon.active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
}
